.counter-container {
  text-align: center;
  font-family: Arial;
}

.count-display {
  font-size: 6rem;
  margin: 40px;


  transition-duration: 0.3s;
}

.counter-button {
  /* width: 150px;
  height: 50px; */
  margin: 5px;
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  background-color: hsl(100, 20%, 50%);
  border: none;
  border-radius: 40px;
  cursor: pointer;

  transition-duration: 0.3s;
}

.counter-button:hover {
  background-color: hsl(100, 20%, 45%);
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 50px;
  font-size: 3rem;
}

.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 25px;
  transition: 0.3s ease;
}

.color-display p {
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  text-align: center;
}

input[type="color"] {
  width: 75px;
  height: 50px;
  padding: 5px;
  border: 4px solid rgb(201, 201, 201);
  border-radius: 10px;
}